<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>HeaderTopnav</title>
        <style>
            *{margin:0;font-family: 'Courier New', Courier, monospace;text-align: center;}
            body{height:100vh;}
            nav{color:white;background:rgb(222, 220, 220);height:10%;border-top:10px solid white;}
            header,footer{height:10%;background-color: black;color:white;}
            main{height:70%;border-bottom:10px solid white;border-top:10px solid white;background-color: rgb(254, 244, 231);}
            footer{background-color: black;}
        </style>
    </head>
    <body>
        <header>
            <h1>Header</h1>
        </header>
        <nav>
            <h1>NavTop</h1>
        </nav>
        <main>
            <h1>Contents</h1>
        </main>
        <footer>
            <h1>Footer</h1>
        </footer>
    </body>
</html>