<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>HeaderContentFooter</title>
        <style>
            *{margin:0px}
            h1{text-align:center;}
            header{height:20%;background-color: black;color:white;}
            div{height:60%;background-color: rgb(192, 189, 189);color:black;border-top:15px solid white;border-bottom:15px solid white;}
            footer{height:20%;background-color: black;color:white;}
            body{height:100vh;line-height: 1.5;font-family:'Courier New', Courier, monospace}
        </style>
    </head>
    <body>
        <header>
            <h1>Header</h1>
        </header>
        <div>
            <h1>Fill out the Contents</h1>
        </div>
        <footer>
            <h1>Footer</h1>
        </footer>
    </body>
</html>